tr.sample{
	display:none;
}

input.text{
border:1px solid #d6d6d6;
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
background:#fff;
padding:6px;
color:#666;
margin:0px;
font-size:12px;
}

.box select {
border:1px solid #dbdbdb;
color:#666;
padding:5px;
}

form input.plaincheckbox {
width: 26px;
height: 26px;
padding: 0;
margin:0;
vertical-align: bottom;
position: relative;
}

form span.link {
height:23px;
padding-top: 5px;
vertical-align: bottom;
position: relative;
cursor:pointer;
display: inline-block;
zoom: 1;
*display: inline;
}
div.fullsize{
width:100%;
height:100%;
overflow:hidden;
}

div.fullsize textarea{
font-size:8pt;
width:100%;
height:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;	
}
