tr.sample{
	display:none;
}

input.text,textarea {
border:1px solid #d6d6d6;
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
background:#fff;
padding:6px;
color:#666;
margin:0px;
font-size:12px;
}