tr.sample{
	display:none;
}

input.text{
border:1px solid #d6d6d6;
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
background:#fff;
padding:6px;
color:#666;
margin:0px;
font-size:12px;
}

.box select {
border:1px solid #dbdbdb;
color:#666;
padding:5px;
}

form input.plaincheckbox {
width: 26px;
height: 26px;
padding: 0;
margin:0;
vertical-align: bottom;
position: relative;
}

form span.link {
height:23px;
padding-top: 5px;
vertical-align: bottom;
position: relative;
cursor:pointer;
display: inline-block;
zoom: 1;
*display: inline;
}
div.fullsize{
width:100%;
height:100%;
overflow:hidden;
font-size:8pt;
}

div.fullsize textarea{
width:100%;
height:100%;
min-height:300px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
white-space: pre-wrap;
word-wrap: break-word;
}

div.errorpage .leftcolumn{
float: left;
padding: 35px;
width: 240px;
position: relative;
z-index: 1;
}

div.errorpage .rightcolumn{
float: left;
padding: 35px;
width: 321px;
margin-left: -1px;
}

div.errorpage .leftcolumn h1{
vertical-align: baseline;
font-family: "Droid Custom", Georgia, Garamond, serif;
font-weight: normal;
font-size: 128px;
line-height: 128px;
letter-spacing: -5px;
color: #000;
width: 240px;
top: 265px;
opacity: .1;
}

div.errorpage .leftcolumn span{
font-size: 28px;
line-height: 28px;
font-weight: bold;
text-align: right;
text-transform: uppercase;
letter-spacing: -1px;
display: block;
margin-top: -20px;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

div.errorpage .rightcolumn h2{
font-size: 27px;
margin: 7px 0 20px;
line-height: 31px;
color: #454545;
letter-spacing: -1px;
font-family: "Droid Custom", Georgia, Garamond, serif;
font-weight: normal;
}

div.errorpage .rightcolumn p{
margin: 0 0 1.5em;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}

div.paging span{
margin-right:10px;
}
div.paging span.newer,div.paging span.older{
display:none;
cursor:pointer;
}

.box h2 font.normal{
font-weight:normal;
font-size:10pt;
}
